<div class="main minh">
      <section id="section-top">
    <div class="section ">
      <div class="container" >
        
          <mat-grid-list style="margin-top: 3em" cols="3" rowHeight="200" *ngIf="gallary"> 
                <mat-grid-tile *ngFor="let image of gallary" (click)="open(image)">
                    <img class="example-card " [src]="image" />
                  
                </mat-grid-tile>

            </mat-grid-list> 
            </div>
        </div>
    </section>
</div>
