<div class="main minh">
      <section id="section-top">
    <div class="section ">
      <div class="container" >
        
          <mat-grid-list style="margin-top: 3em" cols="{{gridCols}}" rowHeight="200" *ngIf="gallary"> 
                <mat-grid-tile *ngFor="let image of T">
                    <img class="example-card " [src]="image" />
                  
                </mat-grid-tile>

            </mat-grid-list> 

            <div style="margin-left: 25%;margin-top: 2em;" >
              <ngb-pagination  [collectionSize]="dataLen" [(page)]="page" [pageSize]="pSize" [maxSize]="5"  (pageChange)="pageChange()"></ngb-pagination>
            </div>
            </div>
        </div>
    </section>
</div>
