<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/main.png');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
        <br />
        <br />
        <br />
          <h3>عين الأمل بتشوف ... فجر الخلاص قدام</h3>
        </div> 
  </div>
  </div>

<div class="main">
    <section id="section-top">
  <div class="section ">
    <div class="container" >
        <div class="row">
            <div class="col-md-6">
              <h4 class="images-title">نبذة عن الاستخدام المفرط للعنف من قبل الحكومة  السودانية لقمع الاحتجاجات السلمية</h4>
            </div>
            <div class="col-md-6">
              <img src="../../assets/img/sub.jpg" class="img-rounded img-responsive" alt="Rounded Image">
              </div>
        </div>
      </div>
  </div>
  <div class="section" id="carousel">
      <div class="container">
        <div class="row">
         
        </div>
      </div>

<div class="nav-tabs-navigation">
    <div class="nav-tabs-wrapper">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" (click)="tabSwitch('images')" role="tab" name="aImage">Images</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" (click)="tabSwitch('videos')" role="tab" name="aVideo">Videos</a>
            </li>


        </ul>
    </div>
</div>
<!-- Tab panes -->
<div class="tab-content text-center">
    <div class="tab-pane active" *ngIf="imageObject" name="images" role="tabpanel">
        <ng-image-slider [images]="imageObject" [imagePopup]="true" [animationSpeed]="0.2"></ng-image-slider>
    </div>
    <div class="tab-pane" name="videos" *ngIf="videoObject" role="tabpanel">
        <ng-image-slider [images]="videoObject" [imagePopup]="true" [animationSpeed]="0.2"></ng-image-slider>
    </div>
    
</div>
 </div>
  
</section>
    <section id="section-hero">
   <div class="section section-dark"  >
      <div class="title-brand">
    <h1 class="presentation-title">Sudan Heroes</h1>
      </div>

   <mat-grid-list style="margin-top: 3em" cols="{{gridCols}}" rowHeight="400" *ngIf="heroes">
      <mat-grid-tile
          *ngFor="let hero of T"
         >
         <mat-card class="example-card" (click)="toDetails(hero.id)">
            
            <img mat-card-image height="250" src="https://sudanrevolution.org{{hero.thumbnail.url}}"   alt="Hero Image" *ngIf="hero.thumbnail">
            <mat-card-content>
                <h5 style="color: black">Name: </h5> 
                <h6 style="color: rgb(77, 29, 7)">{{hero.firstname}} {{hero.lastname}}</h6>
                <h5 style="color: black">Date of death:</h5> 
                <h6 style="color: rgb(77, 29, 7)">{{hero.date_of_death | date:'mediumDate'}}</h6>
              
            </mat-card-content>
         </mat-card>
         <!-- <div class="card card-register" style="background-color: rgba(255, 255, 255, 0.692)" (click)="toDetails(hero.id)" >
            <img src="https://sudanrevolution.org{{hero.thumbnail.url}}"  class="img-rounded img-responsive" alt="Rounded Image" *ngIf="hero.thumbnail">
          <h5 style="color: black">Name: </h5> 
          <h6 style="color: rgb(77, 29, 7)">{{hero.firstname}} {{hero.lastname}}</h6>
          <h5 style="color: black">Date of death:</h5> 
          <h6 style="color: rgb(77, 29, 7)">{{hero.date_of_death | date:'mediumDate'}}</h6>
        </div> -->
        </mat-grid-tile>
    </mat-grid-list>


    <div style="margin-left: 25%;margin-top: 2em;" >
        <ngb-pagination  [collectionSize]="dataLen" [(page)]="page" [pageSize]="pSize" [maxSize]="5"  (pageChange)="pageChange()"></ngb-pagination>
      </div>

  </div>


</section>
</div>
