.textclr{
    color: rgb(77, 29, 7);
    margin-left: 1em;
}
.labelclr{
    color:black;
    
   width: 8em;
}
.indent{
    margin-left: 4 em;
    margin-right: 4 em;
}
.indenth{
    margin-top: 1em;

}