<div class="main">
    <div class="section section-buttons">
        <div class="container">


            <div class="tim-title">
                <h3>Add Hero</h3>
            </div>
            
                <form (ngSubmit)="onSubmit()" #bookForm="ngForm">
                    <div class="row">
                  <div class="col-8 col-sm-6 col-md-3">
                  <div class="form-group">
                      <span style="color:red;" *ngIf="message">{{message}}</span>
                      <input [hidden]="true" #Pfile id="Pfile" type="file" accept='image/*' (change)="previewP(Pfile.files)" />
                       <label for="Pfile"> 
                      <img [src]="profile"  class="img-rounded img-responsive" alt="Rounded Image"/> 
                    </label>

                      <mat-grid-list class="indenth" cols="3" rowHeight="70" *ngIf="images">
                          <mat-grid-tile *ngFor="let image  of images" >
                              <img src="{{image}}" height="90" class="img-rounded img-responsive" >
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <label for="Lfile">
                                <img src="../../assets/img/add_photo.png" height="90" class="img-rounded img-responsive" >
                              </label> 
                              </mat-grid-tile>
                        </mat-grid-list>
         
                <input [hidden]="true" #file id="Lfile" type="file" accept='image/*' (change)="previewL(file.files)" />
               
            </div> 
                </div>
                <div class="col-8 col-sm-6 col-md-3">

                </div>
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <input type="text" class="form-control form-control-success" [(ngModel)]="hero.firstname" #firstName name="firstName" placeholder="First Name">
                        <br/>
                        <input type="text" class="form-control" [(ngModel)]="hero.lastname" #lastName name="lastname" placeholder="Last Name">
                        <br/>
                        
                        <input class="form-control" [(ngModel)]="date_of_birth" placeholder="birthday" [minDate]="minDate"
                        name="dp1"  ngbDatepicker #d1="ngbDatepicker"  (click)="d1.toggle()">
                        <br/>
                        <input type="text" class="form-control" [(ngModel)]="hero.marital_status" #maritalStatus name="maritalStatus" placeholder="maritalStatus">
                        <br/>
                        <input type="text" class="form-control" [(ngModel)]="hero.address" #address name="address" placeholder="address">
                        <br/>
                        <input type="text" class="form-control" [(ngModel)]="hero.place_of_birth" #placeOfBirth name="placeOfBirth" placeholder="placeOfBirth">
                        <br/>
                        <input type="text" class="form-control" [(ngModel)]="hero.occupation" #occupation name="occupation" placeholder="occupation">
                        <hr/>
                        <div class="row">
                        <div class="col-8 col-sm-6 col-md-3">
                            <h5>death day: </h5> 
    
                          </div>
                          <div class="col-8 col-sm-6 col-md-3">
                            
                          <input class="form-control" [(ngModel)]="date_of_death"  placeholder="death day"
                            name="dp2"  ngbDatepicker #d2="ngbDatepicker"  (click)="d2.toggle()">
                        </div>
                      </div>
                        <br/>
                       
                        <input type="text" class="form-control" [(ngModel)]="hero.reason_of_death" #reaasonOfDeath name="reaasonOfDeath" placeholder="reaason of death">
                        <br/>
                        
                        <input class="form-control" [(ngModel)]="date_of_injuiry"   #dateOfInjuiry placeholder="Infection Date"
                        name="dp"  ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                        <br/>
                        <textarea class="form-control" rows="4" [(ngModel)]="hero.description" name="description" #description placeholder="description"></textarea>

                      </div>
                
                    <div class="col-8 col-sm-6 col-md-3">
                    <button type="submit" class="btn btn-success indent" >Submit</button>
                  
                    <button type="button" class="btn btn-info indent"  (click)="onDis()"  >Back</button>
                 
                  </div>

                </div>
         
           
           
                
              
              </div>
            </form>
                
        

        </div>
      </div>
    </div>